<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <div class="row">
        <div class="col-sm-6">
            <form action="">
                <div class="form-group">
                    <label for="email">Email id:
                        <input type="email" id="email">
                    </label>
                    <br>
                    <br>
                    <label for="password">Password:
                        <input type="password" id="password">
                    </label>
                    <br>
                    <br>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>