<!-- Uses base.html template as base -->
{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}Login{% endblock %}
</head>

<body>
    {% block content %}
    <h1 style="padding-left: 30px">Login</h1>
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="email">Email id:
                            <input type="email" id="email" class="form-control" name="email" required>
                        </label>
                        {% if emailValid == False %}
                        <p>This email is not registered. Please visit homepage to signup!</p>
                        
                        {% else %}
                        <br>
                        <br>
                        {% endif %}
                        <label for="password">Password:
                            <input type="password" id="password" class="form-control" name="password" required>
                        </label>
                        {% if passwordValid == False %}
                        <p>Password is wrong! Give another try!</p>
                        
                        {% endif %}
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" onclick="window.location.href='{{url_for('signup')}}';">Go to Signup</button>
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}

    </div>

</body>

</html>